doctype html
html
  head
    title= 'Minolta Cameras Info'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home 
    br
    a(href='/cameras') List of Minolta Film Cameras
    br
    a(href='/lenses') List of Minolta Lenses

    block content
